@font-face {
	font-family: "PerfectDOS";
	font-smooth: never;
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: grayscale;
	src: url("https://saltssaumure.github.io/pios-discord-theme/font/PerfectDosVga.ttf");
}

#browser.win,
#browser.win ~ div,
#browser.win button,
#browser.win input,
#browser.win select,
#browser.win textarea {
	font-family: "PerfectDOS", monospace;
}
